:root {
    --block1: #1b1b1b;
    --links: #877eff;
    --primary: #ffbd59;
    --secondary: #ffe159;
    color-scheme: dark;
}
body {
    background: radial-gradient(circle at top left, #42331b 00%, #000 45%);
    font-family: "Outfit", sans-serif;
    color: #fff;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    margin: 0;
}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: radial-gradient(#7a7a7a 0.0625rem, transparent 0.0625rem);
    background-size: 1.25rem 1.25rem;
    opacity: 0.25;
    pointer-events: none;
    z-index: -1;
}
#body-content {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    max-width: 49.375rem;
    margin-left: auto;
    margin-right: auto;
}

#header {
    position: sticky;
    top: 1.25rem;
    border-radius: 1000rem;
    background-color: #1b1b1bcc;
    gap: 1.25rem;
    display: flex;
    width: 100%;
    max-width: 51rem;
    margin-left: auto;
    margin-right: auto;
    height: 3rem;
    backdrop-filter: blur(0.7rem);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    margin-bottom: 1.25rem;
    padding: 0.25rem 1rem;
}

a {
    color: var(--links);
}

.nav-logo {
    display: flex;
    gap: 0;
    align-items: center;
    height: 2.5rem;
}

.nav-logo img {
    height: 2.7rem;
}

.nav-logo a {
    font-family: "Comic Sans MS", "Comic Sans", "Comic Neue", sans-serif;
    color: var(--primary);
    font-size: 1.8em;
    font-weight: bold;
    text-decoration: none;
}

#nav-links {
    position: relative;
    align-items: center;
    justify-content: center;
    padding-left: 0.125rem;
    display: flex;
    gap: 1rem;
    opacity: 1;
    visibility: visible;
    width: 18.125rem;
    transition: opacity 0.3s cubic-bezier(0.4, 0.2, 0.2, 1),
        width 0.3s cubic-bezier(0.4, 0.2, 0.2, 1);
    overflow: hidden;
    padding: 0.5rem;
    width: fit-content;
    flex-shrink: 0;
}

#nav-links a:focus-visible {
    outline: none;
    text-decoration: underline;
}

:has(#nav-searchbar:focus) #nav-links {
    opacity: 0;
    pointer-events: none;
    width: 0;
}

#nav-bubble {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: #dddddd33;
    border-radius: 1000rem;
    z-index: 0;
    transition: all 0.3s cubic-bezier(0.4, 0.2, 0.2, 1);
    pointer-events: none;
    opacity: 1;
}

#nav-bubble.hidden {
    opacity: 0;
}

#nav-login {
    height: 2.4em;
    display: flex;
    border-radius: 1000rem;
    outline: 0.125rem solid #ffbd5944;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

#nav-signup-btn {
    height: 2.4em;
    padding: 0.5rem 0.75rem;
    background: var(--secondary);
    background: linear-gradient(
        90deg,
        var(--secondary) 0%,
        var(--primary) 100%
    );
    border-radius: 1000rem;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

#nav-login-btn {
    height: 2.4em;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    color: #fff;
}

#nav-user {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    color: inherit;
    text-decoration: none;
    height: fit-content;
    background-color: #1b1b1b55;
    padding-left: 0.4rem;
    border-radius: 1000px;
    transition: all 0.3s cubic-bezier(0.4, 0.2, 0.2, 1);
    outline: 0.125rem solid #ffbd5944;
    position: relative;
}

#nav-user:hover {
    background-color: #dddddd33;
}

#nav-user img {
    border-radius: 50%;
    width: 1.875rem;
    aspect-ratio: 1 / 1;
}

#nav-searchbar {
    font-family: "Outfit", sans-serif;
    height: 2.4em;
    width: 100%;
    height: 100%;
    padding: 0.5rem 0.75rem;
    background-color: #1b1b1b55;
    outline: 0.125rem solid #ffbd5944;
    border-radius: 1000rem;
    color: #fff;
    transition: width 0.3s cubic-bezier(0.4, 0.2, 0.2, 1);
}

#big-header span {
    font-weight: 800;
    background: linear-gradient(
        -90deg,
        var(--secondary) 0%,
        var(--primary) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

h1 {
    padding: 0;
    margin: 0;
    font-size: 5em;
    font-weight: 600;
}

h2 {
    font-size: 2em;
    font-weight: normal;
}

.pill-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    padding: 0;
    background-color: var(--primary);
    background-image: linear-gradient(
        90deg,
        var(--secondary) 0%,
        var(--primary) 100%
    );
    font-size: 1em;
    color: #000;
    font: inherit;
    border: none;
    font-weight: bold;
    text-decoration: none;
    border-radius: 1000rem;
    margin-right: 0.375rem;
    padding: 0.5rem 1rem;
    transition: all 0.3s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.pill-btn:hover {
    box-shadow: 0 0 1rem 0 #ffbd59cc;
}

.nav-link {
    text-decoration: none;
    color: #fff;
}

.nav-link-cur {
    text-decoration: none;
    color: var(--primary) !important;
    font-weight: bold;
    border-radius: 1000rem;
}
p {
    margin: 1rem 0;
}

td {
    padding: 0.3rem;
}
/* scrollbar styles
 * thanks https://codepen.io/stephenpaton-tech/full/JjRvGmY for the tool
 * signed, jab11n
 */

/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--primary) #1b1b1b;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 1rem;
}

*::-webkit-scrollbar-track {
    background: #1b1b1b;
    border-radius: 0.625rem;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 0.625rem;
    border: 0.1875rem solid #1b1b1b;
}

#header:not(.logged-in) #nav-user {
    display: none;
}

#header.logged-in #nav-login {
    display: none;
}

.h-notifs {
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
    justify-content: center;
}

#userbox {
    display: block;
    width: 51rem;
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    top: 5.5rem;
    height: fit-content;
    padding-left: 29rem;
    z-index: 100;
    pointer-events: none;
}

#userbox-inner {
    pointer-events: all;
    position: absolute;
    width: auto;
    height: inherit;
    background-color: #1b1b1bcc;
    backdrop-filter: blur(0.7rem);
    border-radius: 1.5rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

#userbox-inner > p,
#ub-name,
#ub-notifs-top,
.ub-notif-alert > p,
.ub-notif-comment-inside > p {
    margin: 0;
}

#ub-name,
#ub-notifs-top {
    text-align: center;
}

#ub-notifs-top {
    color: #8a8a8a;
}

#ub-notifs {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ub-notif {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.4rem;
    border-radius: 0.8rem;
    background-color: #36363655;
    backdrop-filter: blur(0.7rem);
}

.ub-notif-alert {
    flex-direction: column !important;
    gap: 0.25rem !important;
    background-color: #c9131355 !important;
    border: 2px solid #c91313 !important;
}

.notif-alert-dismiss {
    background-color: #2b2b2b00;
    color: #fff;
    border: 2px solid #c91313;
    border-radius: 10000px;
    width: fit-content;
    padding: 0.25rem;
    cursor: pointer;
}

.notif-alert-top {
    font-weight: bold;
}

.ub-notif-comment-inside {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.ub-notif-comment > img {
    margin-top: 0.2rem;
    height: 1.875rem;
    width: 1.875rem;
    border-radius: 50%;
}

.ub-notif-short {
    align-items: center;
}

.ub-notif-short > p {
    margin: 0;
}

#ub-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

#ub-links > * {
    flex: 1;
    text-align: center;
    color: #fff;
    transition: all 0.3s cubic-bezier(0.4, 0.2, 0.2, 1);
}

#ub-links > *:hover {
    transform: scale(1.23);
}
