<div class="foot-top">
    <img src="/assets/icon-transparent-yellow.png" />
    <a href="/">hatch</a>
</div>
<div class="foot-links">
    <div class="foot-link-cat">
        <h4>About Hatch</h4>
        <a href="/about/">About</a>
        <a href="/about/contact/">Contact Us</a>
        <a href="https://github.com/hatchdotlol">Open Source</a>
        <a href="/about/team/">Hatch Team</a>
    </div>
    <div class="foot-link-cat">
        <h4>Community</h4>
        <a href="/explore/">Explore</a>
        <a href="https://forums.hatch.lol/">Forums</a>
        <a href="https://discord.gg/ENTDZdaGnD">Discord</a>
        <a href="https://wasteof.money/users/hatch">wasteof.money</a>
    </div>
    <div class="foot-link-cat">
        <h4>Resources</h4>
        <a href="/about/guidelines/">Guidelines</a>
        <a href="/about/terms/">Terms of Use</a>
        <a href="/about/privacy/">Privacy Policy</a>
        <a href="https://wiki.hatch.lol/">Wiki</a>
    </div>
</div>
<div class="foot-copyright">
    <p>&copy; 2024-2025 Hatch.lol</p>
</div>