<div class="foot-top">
    <img src="/assets/icon-transparent-yellow.png" />
    <a href="/">hatch</a>
</div>
<div class="foot-links">
    <div class="foot-link-cat">
        <h4>About Hatch</h4>
        <a href="/about/">About</a>
        <a href="/about/contact/">Contact Us</a>
        <a href="https://github.com/hatchdotlol">Open Source</a>
        <a href="/about/team/">Hatch Team</a>
    </div>
    <div class="foot-link-cat">
        <h4>Community</h4>
        <a href="/explore/">Explore</a>
        <a href="https://forums.hatch.lol/">Forums</a>
        <a href="https://discord.gg/ENTDZdaGnD">Discord</a>
        <a href="https://wasteof.money/users/hatch">wasteof.money</a>
    </div>
    <div class="foot-link-cat">
        <h4>Resources</h4>
        <a href="/about/guidelines/">Guidelines</a>
        <a href="/about/terms/">Terms of Use</a>
        <a href="/about/privacy/">Privacy Policy</a>
        <a href="https://wiki.hatch.lol/">Wiki</a>
    </div>
</div>
<div class="foot-social">
    <a href="https://wasteof.money/users/hatch" target="_blank"><svg version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="14"
            viewBox="593.5285,388.2645,188.943,94.471">
            <g fill="#ffbd59" fill-rule="evenodd" stroke="none" stroke-width="1" stroke-linecap="butt"
                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                font-family="none" font-weight="none" font-size="none" text-anchor="none"
                style="mix-blend-mode: normal">
                <path d="M593.5285,388.2645h188.943v94.471h-188.943zM605.3365,
                                    411.8825l12.907,47.271h13.897l8.152,-29.737h0.58l8.152,
                                    29.737h13.925l12.878,-47.271h-13.274l-7.232,31.57h-0.396l-7.784,
                                    -31.57h-13.062l-7.656,31.754h-0.425l-7.359,-31.754z" id="CompoundPath 1" />
            </g>
        </svg>
    </a>
    <a href="https://x.com/hatch_lol" target="_blank">
        <i class="fa-brands fa-twitter"></i>
    </a>
    <a href="https://bsky.app/profile/hatch.lol" target="_blank">
        <i class="fa-brands fa-bluesky"></i>
    </a>
    <a href="https://discord.gg/ENTDZdaGnD" target="_blank">
        <i class="fa-brands fa-discord"></i>
    </a>
</div>
<div class="foot-copyright">
    <p>&copy; 2024-2025 Hatch.lol</p>
</div>