<a href="/" text-decoration="none"><div class="nav-logo">
    <img src="/assets/icon-transparent-yellow.png" />
    <p>Hatch</p>
</div></a>
<input id="nav-searchbar" type="text" placeholder="Search..." />
<div id="nav-links">
    <div id="nav-bubble"></div>
    <a class="nav-link" href="/">Home</a>
    <a class="nav-link" href="/explore">Explore</a>
    <a class="nav-link" href="/about">About</a>
    <a class="nav-link" href="https://hatch.raynec.dev">Editor</a>
    <a class="nav-link" href="https://wiki.hatch.lol">Wiki</a>
    <a class="nav-link" href="https://forums.hatch.lol">Forums</a>
</div>
<div id="nav-login">
    <a href="/login" id="nav-login-btn">Log In</a>
    <a href="/signup" id="nav-signup-btn">Sign Up</a>
</div>
<a href="#" id="nav-user">
    <div class="h-notifs">
        <i class="fa-solid fa-bell"></i>&nbsp;<span>5</span>
    </div>
    <img
        src="/hatchling.webp"
        alt="Your profile picture"
    />
    <!-- i removed the alt text because it messes up the navbar height if the image cannot load -->
    <!-- too bad because alt text it required for accessibility -->
    <!-- what if alt text didnt show when the image didnt load 🤯 that would be convenient -->
</a>
