<div class="nav-logo">
    <img src="/assets/icon-transparent-yellow.png" />
    <p>hatch</p>
</div>
<input id="nav-searchbar" type="text" placeholder="Search..." />
<div id="nav-links">
    <div id="nav-bubble"></div>
    <a class="nav-link" href="/">Home</a>
    <a class="nav-link" href="/explore">Explore</a>
    <a class="nav-link" href="/about">About</a>
    <a class="nav-link" href="https://hatch.raynec.dev">Editor</a>
    <a class="nav-link" href="https://wiki.hatch.lol">Wiki</a>
    <a class="nav-link" href="https://forums.hatch.lol">Forums</a>
</div>
<div id="nav-login">
    <a href="/login" id="nav-login-btn">Log In</a>
    <a href="/signup" id="nav-signup-btn">Sign Up</a>
</div>
<a href="#" id="nav-user">
    <div class="h-notifs">
        <i class="fa-solid fa-bell"></i>&nbsp;<span>3</span>
    </div>
    <img src="https://api.hatch.lol/uploads/pfp/1.png?size=30" />
    <!-- i removed the alt text because it messes up the navbar height if the image cannot load -->

    <div id="userbox">
        <p id="ub-name">@username</p>
        <div id="ub-notifs">
            <p id="ub-notifs-top">
                <i class="fa-solid fa-circle"></i>&ensp;<span>5 new</span>
            </p>
            <div class="ub-notif ub-notif-comment">
                <img src="https://api.hatch.lol/uploads/pfp/1.png?size=50" />
                <div class="ub-notif-comment-inside">
                    <p class="ub-notif-comment-top">
                        <a href="#">@username</a> left a
                        <a href="#">comment</a> on
                        <a href="#">Project Name</a>
                    </p>
                    <p class="ub-notif-comment-content">
                        Lorem ipsum dolor sit amet consectetur adipiscing elit.
                        Consectetur adipiscing elit quisque faucibus ex sapien
                        vitae. Ex sapien vitae pellentesque sem placerat in id.
                        Placerat in id cursus mi pretium tellus duis. Pretium
                        tellus duis convallis tempus leo eu aenean.
                    </p>
                </div>
            </div>
            <div class="ub-notif ub-notif-follow">
                <i class="fa-solid fa-user"></i>
                <p><a href="#">@username</a> is now following you.</p>
            </div>
        </div>
    </div>
</a>
