<div class="nav-logo">
    <img src="/assets/icon-transparent-yellow.png" />
    <p>hatch</p>
</div>
<input id="nav-searchbar" type="text" placeholder="Search..." />
<div id="nav-links">
    <div id="nav-bubble"></div>
    <a class="nav-link" href="/">Home</a>
    <a class="nav-link" href="/explore">Explore</a>
    <a class="nav-link" href="/about">About</a>
    <a class="nav-link" href="https://hatch.raynec.dev">Editor</a>
    <a class="nav-link" href="https://wiki.hatch.lol">Wiki</a>
    <a class="nav-link" href="https://forums.hatch.lol">Forums</a>
</div>
<div id="nav-login">
    <a href="/login" id="nav-login-btn">Log In</a>
    <a href="/signup" id="nav-signup-btn">Sign Up</a>
</div>
<a href="#" id="nav-user">
    <img src="https://api.hatch.lol/uploads/pfp/1.png?size=30" alt="Your profile picture">
    <span>example</span>
</div>
